<a href="https://colab.research.google.com/github/nureeee/Machhine-Learning/blob/main/210609_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%8A%A4%EC%BC%80%EC%9D%BC%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#스케일링도 데이터의 전처리 해당한다

## 전처리 1. Normalize (정규화)
column 간에 다른 **min, max**값을 가지는 경우, 정규화를 통해서 최대/ 최소의 척도를 하나로 맞춰 주는 작업
---
* 최소를 0으로, 최대를 1로 설정
------
* 네이버 영화 평점 ( 0 ~ 10 ) : [2, 4, 6, 8, 10]
* 넷플릭스 영화 평점 ( 0 ~ 5 ) : [1, 2, 3, 4, 5]

In [22]:
import pandas as pd
movie_score = pd.DataFrame({
    'naver':[2, 4, 6, 8, 10],
    'Netflix':[ 1, 2, 3, 4, 5]
})

movie_score

   naver  Netflix
0      2        1
1      4        2
2      6        3
3      8        4
4     10        5

In [23]:
from sklearn.preprocessing import MinMaxScaler # 네이버와 넷플릭스의 평점의 스케일링을 맞춰줌

min_max_scaler = MinMaxScaler()

In [24]:
movie_score_scaled = min_max_scaler.fit_transform(movie_score)

pd.DataFrame(movie_score_scaled, columns=['Naver Scaled', 'Netflix Scaled'])

   Naver Scaled  Netflix Scaled
0          0.00            0.00
1          0.25            0.25
2          0.50            0.50
3          0.75            0.75
4          1.00            1.00

## 표준화 (Standard Scaling)
**평균이 0, 표준편차가 1**이 되도록 변환

In [25]:
from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()

이상치 데이터 보정에 좋다.
데이터를 공평하게 분배???

In [27]:
import numpy as np
x = np.arange(10)
# 이상치 강제 추가
x[9] = 1000

In [28]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [29]:
std_scaled_x = std_scaler.fit_transform(x.reshape(-1, 1))

In [30]:
std_scaled_x.mean(), std_scaled_x.std()

(4.4408920985006264e-17, 1.0)

In [31]:
std_scaled_x # 표준편차가 예쁘게 줄어든 것을 볼 수 있다.
# 데이터가 고르게 분포 되었다.

array([[-0.34670856],
       [-0.34336196],
       [-0.34001535],
       [-0.33666874],
       [-0.33332213],
       [-0.32997553],
       [-0.32662892],
       [-0.32328231],
       [-0.3199357 ],
       [ 2.9998992 ]])

멀리 떨어져 있는 데이터도 활용하고 싶을 때??
단위를 바꿔서 끌어온다?//???