<a href="https://colab.research.google.com/github/nureeee/Machhine-Learning/blob/main/210609_list%2C_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

어제 클래스 다하고....

In [2]:
list1 = [2, 7, 2, 5, 4]
print(list1)

[2, 7, 2, 5, 4]

In [5]:
list1[-1] = '누리' # 마지막 리스트를 바꿔주기
print(list1)

[2, 7, 2, 5, '누리']

In [16]:
list1 = [1, 2, 4.5, '누리ㅃ짱', 5, 8,  '' ] # 서로 다른 타입의 데이터를 모을 수 있음
list1

[1, 2, 4.5, '누리ㅃ짱', 5, 8, '']

In [9]:
tup1 = () # 데이터가 들어있지 않은 튜플 만들기

In [11]:
tup2 = (1, 2, 3, 4, 5, 2) #튜플에 정수 데리터 넣기
print(tup2)

(1, 2, 3, 4, 5, 2)

In [12]:
tup2[1] = '누링' # 튜플은 변경 불가

TypeError: ignored

In [17]:
tup3 =(1, 2, 3, 4, 2) #치명적인 실수 발생... 위에서 list함수를 그냥 리스트로 저장하여 
#함수를 불러올 수 없다...ㅠㅠ
list_tup = list(tup3)

print(list_tup)#되돌리는 법을 모른다...

TypeError: ignored

In [19]:
text1 = 'sentence'
print(list(text1))

TypeError: ignored

In [20]:
#인덱싱과 슬라이싱
list6 = [1, 3, 2, 6, 4, 5 ,3]

print(list6[-2])

5

In [21]:
list6[::2]

[1, 2, 4, 3]

In [25]:
list1 = []
print(list1)

for i in range(10, 31, 10): # 데이터 추가하기
    list1.append(i)
    print(list1)

[]
[10]
[10, 20]
[10, 20, 30]

In [27]:
list1.append([40, 50]) # 튜플 안에 리스트 집어 넣기
print(list1)

print(len(list1))

[10, 20, 30, [40, 50], [40, 50]]
5

In [29]:
a = [1, 2, 3, 4]
b = [2, 3, 5]

a.append(b) # a 안에 b리스트를 넣어준다
a

[1, 2, 3, 4, [2, 3, 5]]

In [31]:
a.extend(b)
a # a 안에 b의 리스트의 데이터를 넣어준다

[1, 2, 3, 4, [2, 3, 5], 2, 3, 5, 2, 3, 5]

In [32]:
# 원하는 위치에 추가하기
a = [2, 3]
a.insert(1, 40) # 인덱스 1번에 40을 끼워 넣겠다

a

[2, 40, 3]

In [37]:
a = [2,1, 2,2, 'nuri', 5, 'good'] # 값을 사용하여 삭제할 때 사용
a.remove('good')
print(a)
a.remove(2) #제일 앞에 있는 2 삭제
print(a)

[2, 1, 2, 2, 'nuri', 5]
[1, 2, 2, 'nuri', 5]

In [38]:
b = [1,2, 3, 4, 5, 6, 7]
del b[2:5] # 슬라이싱으로 원하는 부분 삭제
print(b)

[1, 2, 6, 7]

In [40]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del b[::2] # 2간격 주면서 삭제
print(b)

[2, 4, 6, 8, 10]

In [41]:
#pop 을 활용해서 지워보자규!~~
a = [1, 2, 3, 4, 5, 2]
d = a.pop(2) # 2번 인덱스를  뽑아준 후 삭제

print(d) # 뽑아주고
print(a) # 삭제

3
[1, 2, 4, 5, 2]

In [45]:
a = [1, 4, 2, 6, 19, 20]
a.index(1) # a안의 원소 1의 인덱스 값을 알려줌

0

In [46]:
a.index(19)

4

In [48]:
a = [1, 2, 3, 4, 5, 6]

print(3 in a) # 3이 a에 들어있닝? ㅇㅇ
print('nadal' in a) # nadal이 a에 들어있님ㅇ?? ㄴㄴ

True
False

In [51]:
a = [1, 2, 3]
b = a
print(a, b)

[1, 2, 3] [1, 2, 3]

In [52]:
b[-1] = 30
print(b)

[1, 2, 30]

In [53]:
print(a)

[1, 2, 30]

In [54]:
a = [1, 2]
b = a.copy() # a를 복사해서 b에 저장한다
b[-1] = 30
print(a, b)

[1, 2] [1, 30]

---