<a href="https://colab.research.google.com/github/nureeee/Machhine-Learning/blob/main/210616_%EC%9B%90%ED%95%AB%EC%9D%B8%EC%BD%94%EB%94%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 범주형 변수

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('/content/adult.csv', encoding='utf-8')
data.head()

   age          workclass  ...          occupation  income
0   39          State-gov  ...        Adm-clerical   <=50K
1   50   Self-emp-not-inc  ...     Exec-managerial   <=50K
2   38            Private  ...   Handlers-cleaners   <=50K
3   53            Private  ...   Handlers-cleaners   <=50K
4   28            Private  ...      Prof-specialty   <=50K

[5 rows x 7 columns]

기본적으로는 머신러닝 훈련에는 **텍스트**데이터는 들어갈 수 없다.

## 원-핫 인코딩 ( 가변수 )
* 범주형 변수를 표현하는데 가장 널리 쓰이는 방법
* 원-아웃-오브 N 인코딩
* 가변수dummy variable 이라고도 한다.

## pandas에서 원-핫-인코딩 하기

In [3]:
data_dummies = pd.get_dummies(data)
data_dummies.head()

   age  hours-per-week  ...  income_ <=50K  income_ >50K
0   39              40  ...              1             0
1   50              13  ...              1             0
2   38              40  ...              1             0
3   53              40  ...              1             0
4   28              40  ...              1             0

[5 rows x 20 columns]

label로 생각해랴할 제이터가 문자열 범주형 형태의 데이터라면 OrdinalEncoder를 사용하자
원핫인코더는 feature에만 사용하장!!